body {
    background: linear-gradient(135deg, #fa4616, #0021a5);
    color: white;
    text-align: center;
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: auto;
    z-index: 1000;
}

.install-button {

}

.install-button:hover {

}

.button-logo {

}

.video-wrapper {

}

.video-wrapper iframe {

}

.examples {

}

.example img {

}